<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NGO",
    "name": "Azul Marine Group",
    "legalName": "{{site.legalName}}",
    "alternateName": "AMG",
    "url": "{{site.url}}",
    "logo": "{{site.url}}/assets/brand/logo.svg",
    "image": "{{ogImage}}",
    "nonprofitStatus": "https://schema.org/Nonprofit501c3",
    "telephone": "+1-925-337-2294",
    "email": "{{site.email}}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "401 N. San Jose Street",
      "addressLocality": "Stockton",
      "addressRegion": "CA",
      "postalCode": "95203",
      "addressCountry": "US"
    },
    "areaServed": [
      { "@type": "Place", "name": "Sacramento, California" },
      { "@type": "Place", "name": "Sacramento-San Joaquin River Delta, California" },
      { "@type": "Place", "name": "San Francisco Bay Area, California" }
    ],
    "sameAs": ["{{site.facebook}}"],
    "description": "{{meta.description}}"
  }
  </script>
